<div class="navbar">
<%= link_to "https://www.facebook.com/lapyreneenneparis", target: "_blank" do %>
<i class="fab fa-facebook-square icon"></i>
<%end%>
<%= link_to "https://www.instagram.com/lapyreneenneparis", target: "_blank" do %>
<i class="fab fa-instagram icon"></i>
<%end%>
</div>